/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	background-color: #446;
  	text-align:center;
  	color:#fff;
  	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
}

#cl {
	margin-top: 15px;
}

#err{
	color:red;
}